<div class="row">
  <div class="col m1">

  </div>
  <div class="col m10">
    <div class="card">
      <div class="card-image">
        <%= image_tag @vendor.image %>
        <span class="card-title black"><%= @vendor.name.titleize %></span>

      </div>
      <div class="card-content">
        <p><%= @vendor.description %></p><br>
        <p><%= link_to "View Items", vendor_items_path(@vendor) %> </p>
        <p><%= link_to "View Orders", vendor_orders_path(@vendor) %> </p>
        <p><%= link_to "Edit Vendor Info", edit_vendor_path(@vendor) %> </p>
      </div>
    </div>
    <div class="business_managers_list">
        <% @vendor.users.business_manager.each do |user| %>
        <%= user.name %>
        <% end %>
    </div>
  </div>
</div>
