<h4 class='instructions'>Please enter the passcode you've recieved on your 
  cell phone telephone:</h4>
  
  <%= form_for(:user, url: login_path, method: :post) do |f| %>
  <a class="form-input"><%= f.text_field :name, placeholder: 'Confirmation Code' %></a>

  <a class="form-input"><%= f.password_field :password, placeholder: 'Password' %></a><br>
  <a class="form-input"><%= f.password_field :password, placeholder: 'Password' %></a><br><br>
  <a class="waves-effect waves-light btn teal darken-4"><%= f.submit("Log in") %></a>
  <% end %>