
<div class="row">
  <!-- <div class="col m1"> -->
</div>
<div class="row">
  <% @vendors.each do |vendor| %>
  <div class="col m4 vendor_<%= vendor.name %>">
    <div class="card sticky-action medium" id="show-card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag vendor.image, class: "activator", id: "card-image" %>
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= link_to vendor.name.titleize, vendor_items_path(vendor: vendor.slug) %><br></span>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= vendor.name %><i class="material-icons right">close</i></span>
        <p><%= vendor.description %></p>
      </div>
    </div>
  </div>
  <% end %>

</div>
